@model RVCoreBoard.MVC.Models.Board
@{
    ViewData["Title"] = Model.Title;
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
        Dropzone.autoDiscover = false;
        // summernote
        $(function () {
            $('#summernote').summernote({
                lang: 'ko-kr',               // default: 'en-us'
                placeholder: '내용 입력',
                tabsize: 2,
                height: 400,                 // set editor height
                minheight: null,             // set minimum height of editor
                maxheight: null,             // set maximum height of editor
                focus: true,                 // set focus to editable area after initializing summernote
                callbacks: {
                    // 이미지 업로드시 처리, 해당 처리가 없는 경우 기본적으로 이미지 업로드시 base64인코딩 되어 처리 된다.
                    onImageUpload: function (files, editor, weleditable) {
                        for (var i = files.length - 1; i >= 0; i--) {
                            sendFile(files[i], this);
                        }
                    }
                },
                toolbar: [
                    // [groupname, [list of button]]
                    ['fontname', ['fontname']],
                    ['fontsize', ['fontsize']],
                    ['style', ['bold', 'italic', 'underline', 'strikethrough', 'clear']],
                    ['color', ['forecolor', 'color']],
                    ['table', ['table']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['insert', ['picture', 'link', 'video']],
                    ['view', ['fullscreen', 'help']]
                ],
                fontnames: ['arial', 'arial black', 'comic sans ms', 'courier new', '맑은 고딕', '궁서', '굴림체', '굴림', '돋음체', '바탕체'],
                fontsizes: ['8', '9', '10', '11', '12', '14', '16', '18', '20', '22', '24', '28', '30', '36', '50', '72'],
            });

            $("#editInputForm").submit(function () {
                var content = $("#summernote").summernote("code");
                $("#Contents").val(content);
            });


            // 이미지 업로드 /api/imageUpload 라우트 사용
            function sendFile(file, el) {
                var form_data = new FormData();
                form_data.append('file', file);
                $.ajax({
                    data: form_data,
                    type: "POST",
                    url: '/api/imageUpload',
                    cache: false,
                    contentType: false,
                    enctype: 'multipart/form-data',
                    processData: false,
                    success: function (url) {
                        $(el).summernote('editor.insertImage', url);
                        $('#imageBoard > ul').append('<li><img src="' + url + '" width="auto" height="auto"/></li>');
                    }
                });
            }

            var myDropzone = new Dropzone("#editInputForm", {
                previewsContainer: '#previewDropContainer',
                autoProcessQueue: false,
                thumbnailHeight: 150,
                thumbnailWidth: 150,
                addRemoveLinks: true,
                dictRemoveFile: '삭제',
                parallelUploads: 10,
                maxFilesize: 5,
                filesizeBase: 1000,
                uploadMultiple: true,
                clickable: '#fileDropzone',
                init: function () {
                    $.ajax({
                        url: '/api/getFiles',
                        method: 'post',
                        data: { BNo : @Model.BNo },
                        dataType: 'json',
                        success: function (response) {
                            $.each(response, function (key, value) {
                                var fileName = value.FileFullName.substring(value.FileFullName.indexOf(".", value.FileFullName.lastIndexOf("\\")) + 1);
                                var mockFile = { name: fileName, size: value.FileSize, type: value.ContentType, ano : value.ANo };

                                myDropzone.emit("addedfile", mockFile);
                                myDropzone.files.push(mockFile);
                                myDropzone.emit("complete", mockFile);
                                $('#fileDropzone').addClass('dz-started');
                                mockFile.previewElement.classList.add('dz-success');
                                mockFile.previewElement.classList.add('dz-complete');
                            });
                        }
                    });
                }
            });

            myDropzone.on("dragover drop", function (e) {
                e.preventDefault();
            }).on("drop", function (e) {
                $("input[type='file']")
                    .prop("files", e.originalEvent.dataTransfer.files)
                    .closest("form")
                    .submit();
            }).on("addedfiles", function (files) {
                if (files.length >= 1 && $('#fileDropzone').hasClass('dz-started') == false) {
                    $('#fileDropzone').addClass('dz-started');
                }
                $("input[type='file']")
                    .prop("files", files)
                    .closest("form");
            }).on("removedfile", function (file) {
                $.ajax({
                    url: '/api/removeFile',
                    method: 'post',
                    data: { ANo : file.ano },
                    dataType: 'json',
                    success: function (response) {
                        if (response.success) {
                            alert(response.responseText);
                            if (myDropzone.files.length == 0) {
                                $('#fileDropzone').removeClass('dz-started');
                            }
                        } else {
                            alert(response.responseText);
                        }
                    }
                });
            });
        });
</script>
}

<div class="d-flex justify-content-center align-items-start position-relative">
    <div class="col-lg-9 card">
        <div class="card-body">
            <form id="editInputForm" class="form-horizontal" method="post" enctype="multipart/form-data"  asp-controller="Board" asp-action="EditProc">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <input type="hidden" class="form-control" asp-for="BNo" value="@Model.BNo" />
                    <input type="hidden" class="form-control" asp-for="Reg_Date" value="@Model.Reg_Date" />
                    <input type="hidden" class="form-control" asp-for="Cnt_Read" value="@Model.Cnt_Read" />
                    <input type="hidden" class="form-control" asp-for="Id" value="@Model.Id" />
                    <input type="hidden" class="form-control" asp-for="Gid" value="@Model.Gid" />
                    <label>제목</label>
                    <input type="text" class="form-control" style="margin-bottom:30px;" asp-for="Title" placeholder="제목 입력" value="@Model.Title" />
                    <span class="text-danger" asp-validation-for="Title"></span>
                </div>
                <div class="form-group">
                    <label>내용</label>
                    <div id="summernote">@Html.Raw(Model.Content)</div>
                    <input type="hidden" id="Contents" asp-for="Content" />
                    <span class="text-danger" asp-validation-for="Content"></span>
                </div>
                <div class="form-group col-lg-12">
                    <label>첨부 파일</label>
                    <div class="dropzone dz-clickable" id="fileDropzone">
                        <div class="dz-message">
                            <button type="button" class="dz-button">파일을 끌어다 놓거나 클릭하세요.</button>
                        </div>
                        <div id="previewDropContainer"></div>
                    </div>
                    <input type="file" style="display:none;" name="flles" class="form-control" />
                </div>
                <div class="mt-5 mb-3 text-right">
                    <button type="submit" class="btn btn-primary">저장</button>
                    <a class="btn btn-dark" asp-controller="Board" asp-action="Index">취소</a>
                </div>
            </form>
        </div>
    </div>
</div>
