@{
    ViewData["Title"] = "홈홈홈홈";
    var boardList = ViewBag.BoardList;
    var commentList = ViewBag.CommentList;
}

<div class="text-center">
    <h3 class="display-4">Welcome</h3>
</div>

<hr class="mb-5" />

<div class="d-flex justify-content-center align-items-start position-relative">
    <div class="col-lg-6">
        <div class="col-lg-10 center-block">
            <div class="card shadow mb-1">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">새로운 글</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        @foreach (var board in boardList)
                        {
                            <div class="col-lg-3 my-2">
                                <span><b><a class="text-dark" asp-controller="Board" asp-action="Detail" asp-route-BNo="@board.BNo">@board.category.Name @board.BNo</a></b></span>
                            </div>
                            <div class="col-lg-6 my-2">
                                <span>@board.Title</span>
                            </div>
                            <div class="col-lg-3 my-2 text-right">
                                <span>@board.user.Name</span>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="col-lg-10 center-block">
            <div class="card shadow mb-1 ">
                <div class="card-header py-3 ">
                    <h6 class="m-0 font-weight-bold text-primary">새로운 댓글</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        @foreach (var comment in commentList)
                        {
                            <div class="col-lg-3 my-2">
                                <span><b><a class="text-dark" asp-controller="Board" asp-action="Detail" asp-route-BNo="@comment.board.BNo">@comment.board.category.Name @comment.board.BNo</a></b></span>
                            </div>
                            <div class="col-lg-6 my-2">
                                <span>@comment.Content</span>
                            </div>
                            <div class="col-lg-3 my-2 text-right">
                                <span>@comment.user.Name</span>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
